@model WIShipwrecks.Models.TechnicalFieldReport

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "TechnicalFieldReports", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Technical Field Report</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Filename)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group currentImage">
            @Html.LabelFor(model => model.Filename, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <a href="~/Files/@Model.Filename">@Model.Filename</a> 
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Filename"></label>
            <div class="col-md-10">
                <input type="file" name="file" />
                @Html.ValidationMessage("uploadError")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />&nbsp;|&nbsp;@Html.ActionLink("Cancel", "Index")
            </div>
        </div>
    </div>
}


