@model WIShipwrecks.Models.AttractionPhoto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "AttractionPhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Attraction Image</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AttractionID, new { @Value = ViewBag.AttractionID })

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" />
                @Html.ValidationMessage("uploadError")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caption, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Caption, new { @class = "mediumtextarea" })
                @Html.ValidationMessageFor(model => model.Caption)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoSourceID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhotoSourceID", "-- Select --")
                @Html.ValidationMessageFor(model => model.PhotoSourceID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhotoTypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PhotoTypeID", "-- Select --")
                @Html.ValidationMessageFor(model => model.PhotoTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfPhoto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfPhoto)
                @Html.ValidationMessageFor(model => model.DateOfPhoto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />&nbsp; |

                @Html.ActionLink("Cancel", "Edit", "Attraction", null, null, "images", new { id = ViewBag.AttractionID }, null)

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
