@model IEnumerable<WIShipwrecks.Models.Attraction>
@{
    Layout = "~/Views/Shared/_GoogleFieldTrip.cshtml";
}
<rss version="2.0" xmlns:georss="http://www.georss.org/georss" xmlns:fieldtrip="http://www.fieldtripper.com/fieldtrip_rss">
    <channel>
        <title>Wisconsin Shipwrecks Attractions</title>
        <link>http://www.wisconsinshipwrecks.org</link>
        <description>Centuries of exploration, travel, commerce, and recreation on the Great Lakes have left an impressive trail of maritime cultural resources along Wisconsin's Great Lakes shorelines.</description>
        <image>
            <url>http://www.wisconsinshipwrecks.org/images/icon_shipwreck.png</url>
        </image>
        <language>en</language>
        @foreach (var item in Model)
        {
            @:<item>
                <title>@item.AttractionName</title>
                <guid>http://www.wisconsinshipwrecks.org/Attraction/Details/@item.ID</guid>
                <description><![CDATA[@item.Description]]></description>
                <link></link>
                <pubdate>@item.LastModifiedDate</pubdate>
                <georss:point>@item.LatitudeDecimal @item.LongitudeDecimal</georss:point>
                <fieldtrip:address>@item.NearestAddress</fieldtrip:address>
            foreach (var image in item.AttractionPhotos)
            {
                <fieldtrip:image>
                    <url>http://www.wisconsinshipwrecks.org/Images/Attractions/@image.Image</url>
                    <title>@image.Caption</title>
                    @if(image.PhotoSource != null){
                    <attribution>Photo by @image.PhotoSource.Source</attribution>
                    }
                </fieldtrip:image>
            }
            @:</item>
        }
    </channel>
</rss>
