@model WIShipwrecks.Models.AttractionType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attraction Type</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AttractionType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttractionType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
