@model WIShipwrecks.Models.AttractionLink

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete this link?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />&nbsp; |
           
            @Html.ActionLink("Cancel", "Edit", "Attraction", null, null, "links", new { id = Request.QueryString["attractionId"] }, null)

        </div>
    }
</div>
